<div class="modal" data-modal="1">
  <button class="close-button button js-modal-close" type="button">
    <svg class="close-icon">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <form action="#" class="modal-form" autocomplete="on">
    <strong class="contact-modal-title">Contact us</strong>
    <p class="contact-modal-description">
      If you have any additional questions or you want to clarify something
      before you make an order please fill in your contact details. We will call
      you back.
    </p>
    <div class="contact-field-wrapper">
      <label class="input-box">
        <input
          type="text"
          class="input-field input-field-name input-js"
          name="modal-user-name"
          required=""
          pattern="^[А-Яа-яЁё\s]+$"
          placeholder="Your name"
        />
        <span class="input-label">Name</span>
        <svg class="input-warning-icon" width="14" height="14">
          <use
            class="error"
            href="/anemone-flowers/assets/icons-3268b4a9.svg#icon-error"
          ></use>
          <use
            class="correct"
            href="/anemone-flowers/assets/icons-3268b4a9.svg#icon-correct"
          ></use>
        </svg>
      </label>

      <label class="input-box">
        <input
          type="tel"
          class="input-field input-field-tel input-js"
          name="modal-user-phone"
          required=""
          pattern="[0-9]{10}"
          placeholder="Your email"
        />
        <span class="input-label">Phone</span>
        <svg class="input-warning-icon" width="14" height="14">
          <use
            class="error"
            href="/anemone-flowers/assets/icons-3268b4a9.svg#icon-error"
          ></use>
          <use
            class="correct"
            href="/anemone-flowers/assets/icons-3268b4a9.svg#icon-correct"
          ></use>
        </svg>
      </label>
    </div>

    <button type="submit" class="js-open-modal js-modal-close" data-modal="2">
      Send
    </button>
  </form>
</div>
